*{
    margin: 1;
    border: border-box;
}

body{
    background-color: #000000;
}

.navbar{
    height: 4rem;
    font-size: larger;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}



table, th, td{
    border: 1px solid #FFB22C;
}

.codeColor{
    background-color:grey;
}

